@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: #17181a;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  position: relative;
}
main {
  position: absolute;
}
#logo {
  color: white;
}

#nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
  min-height: 10vh;
}

#line1,
#line2 {
  background: white;
  width: 2rem;
  height: 0.2rem;
  margin: 0.5rem;
  border-radius: 1rem;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto 0 auto;
}

#hero-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  flex-direction: column;
  padding-left: 5rem;
  position: relative;
}

#hero-desc h2 {
  font-family: "Abril Fatface";
  font-size: 4rem;
}

#hero-desc p {
  padding: 3rem 0rem;
  font-size: 1.5rem;
  color: rgb(223, 223, 223);
}

#hero-desc a {
  color: white;
  border: 1px solid white;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5px;
  align-self: flex-start;
}

#hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

#hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#forest-span {
  color: rgb(86, 124, 228);
}

#hike-span {
  color: rgb(167, 110, 231);
}

#fashion-span {
  color: rgb(255, 139, 93);
}

.nav-bar {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

#logo-burger {
  cursor: pointer;
  z-index: 2;
}

.nav-links {
  font-size: 4rem;
  flex-basis: 30rem;
  padding: 3rem;
}

.nav-links h3 {
  padding: 2rem 0rem;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 3.5rem;
  padding: 2rem 0rem;
}

.contact p {
  font-size: 1.3rem;
  pad: 2rem 0rem;
}

#reveal-img,
#reveal-text {
  position: absolute;
  width: 100%;
  height: 110%;
  background-color: #17181a;
  /* background-color: tomato; */
  left: 0;
  top: -10px;
}
.scrollmagic-pin-spacer {
  position: static !important;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
}

.cursor-active {
  transform: scale(2);
  background: slateblue;
  opacity: 0.8;
}

.explore-active {
  transform: scale(2);
  opacity: 0.9;
  background: white;
}

.cursor-text {
  font-size: 8px;
  margin-left: 8px;
}

.hide {
  overflow: hidden;
}

.fashion1,
.fashion2,
.fashion3 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  color: #fff;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
}

.fashion-image {
  height: 90vh;
  flex-basis: 30rem;
}

.fashion-text {
  flex: 1;
  position: relative;
  flex-basis: 25rem;
}

.fashion-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fashion-text h1 {
  font-size: 5rem;
  margin: 3rem 0rem;
}

.fashion1 h1 {
  color: rgb(86, 124, 228);
}
.fashion2 h1 {
  color: rgb(167, 110, 231);
}
.fashion3 h1 {
  color: rgb(255, 139, 93);
}

.fashion-text p {
  margin: 2rem 2rem 0rem 0rem;
  font-size: 1.5rem;
  margin-bottom: 10rem;
}

.fashion-nr {
  position: absolute;
  font-size: 10rem;
  top: 72%;
  margin-left: 30%;
  font-weight: bolder;
  color: rgb(247, 27, 111);
  opacity: 0.5;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.swipe1 {
  background-color: tomato;
  z-index: 5;
}

.swipe2 {
  background-color: yellow;
  z-index: 4;
}

.swipe3 {
  background-color: yellowgreen;
  z-index: 3;
}
